@import url(https://fonts.googleapis.com/css2?family=Biryani:wght@100;200;300;400;500;600;800;900&display=swap);

.list {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    margin-top: 100px;
    font-family: 'Biryani', sans-serif;
    padding: 0;
    margin-bottom: 100px;

}
.item {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    background-color: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}
.item:first-child{
    background-image: url('https://commons.wikimedia.org/wiki/File:React-icon.svg');
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}
.item h1{
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Biryani', sans-serif;
}

.item p{
    font-size: 20px;
}
.bold {
}

@media screen and (max-width: 550px) {
    .item h1{
        font-size: 40px;
    }
    .item p{
        font-size: 16px;
    }
    .item{
        max-width: 400px;
        padding: 15px;
    }
}

@media screen and (max-width: 450px){
    .item{
       max-width: 300px;
       pad: 5px;
    }
}