@import url(https://fonts.googleapis.com/css2?family=Biryani:wght@100;200;300;400;500;600;800;900&display=swap);


.list {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    margin-top: 200px;
    font-family: 'Biryani', sans-serif;
    padding: 0;
    margin-bottom: 100px;
    position: relative;
}

.item {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    background-color: var(--white);
    backdrop-filter: blur(15px);
    position: relative;
}
body.dark .item{
    background-color: var(--black);
}
.item:first-child{
    background-image: url('https://commons.wikimedia.org/wiki/File:React-icon.svg');
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}
.item h1{
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Biryani', sans-serif;
}


.item p{
    font-size: 20px;
    animation: openitem 1s;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    animation: openSkills 1s;
}
.skills h3{
    margin: 0;
    margin-right: auto;
}
.skills h4{
    margin: 0;
    margin-right: 10px;
    margin-bottom: 5px;
}
.skill{
    background-color: rgb(195, 195, 195);
    border-radius: 12px;
    padding:2px 10px;
}
.bold {
}

.animate-icon{
    width: 50px;
    height: 50px;
    position: absolute;
    font-size: 40px;
    bottom: 10px;
    left: 10px;
    transform: translateX(-50% -50%);
    animation: float 10s ease-out infinite;
}
.icon-after{
    font-size: 150px;
    bottom: 50%;
    left: 47%;
}
.animate-skill{
    animation: skillsAnimation 1s;
}

@media screen and (max-width: 550px) {
    /* .animate-icon{
        display: none;
    }
    .icon-after{
        display: none;
    } */
    .list{
        margin-top: 100px;
    }
    .item h1{
        font-size: 40px;
    }
    .item p{
        font-size: 16px;
    }
    .item{
        max-width: 400px;
        padding: 15px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 450px){
    .item{
       max-width: 300px;
       pad: 5px;
    }
}


@keyframes float {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(360deg)
    }
}


@keyframes openitem {
    0%{
        transform: translateY(-60px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes openSkills {
    0%{
        transform: translateY(60px);
    }
    100%{
        transform: translateY(0px);
    }
}


@keyframes skillsAnimation {
    0%{
        transform: translateX(-160px);
    }
    100%{
        transform: translateX(0px);
    }
}