.contact_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 10px;
    margin: 0;
    padding: 0;
}
.contact_item {
    display: flex;
    font-size: 25px;
    width: 100%;
    max-width: 220px;
    gap: 20px;
    text-align: start;
    margin-right: auto;
    margin-left: auto;
}
