@import url(https://fonts.googleapis.com/css2?family=Biryani:wght@100;200;300;400;500;600;800;900&display=swap);


.info {
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin-top: 200px;
    
}
.info h2{
    font-size: 80px;
    margin: 0;
    font-family: 'Biryani', sans-serif;

}
.info p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    margin: 0;
    padding-right: 150px;
    padding-left: 150px;
    font-family: 'Biryani', sans-serif;

}
.bold{
    font-weight: bold;
    color: #002fff;
}
.tarmoqlar {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.tarmoqlar_item a{
    font-size: 30px;
    color: #3393f9;
}
.tarmoqlar_item:first-child a{
    font-size: 38px;
    color: red;
}
.tarmoqlar_item:last-child a{
    color: black;
}

@media screen and (max-width: 550px){
    .info{
        font-size: 12px;
        margin-top: 100px;
        gap: 20px;
        margin-bottom: 100px;
    }
    .info h2{
        font-size: 50px;
    }
    .info p{
        font-size: 18px;
        width: 100%;
        max-width: 400px;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 450px){
    .info h2{
        font-size: 40px;
    }
    .info p{
        max-width: 300px;
    }
}    