@import url(https://fonts.googleapis.com/css2?family=Biryani:wght@100;200;300;400;500;600;800;900&display=swap);

.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0, 0.5);
    backdrop-filter: blur(5px);
}
.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-right: auto;
    margin-left: auto;
    margin-top: 300px; */
    width: 100%;
    max-width: 400px;
    /* padding: 10px 20px 20px; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border-radius: 20px;
    background: rgb(0, 0, 0, 0.2);
    border: 2px solid black;
    box-shadow: 2px 3px 40px 1px rgb(255, 255, 255);
    font-family: 'Biryani', sans-serif;
    z-index: 10;
    transition: 3s;
    padding: 20px;
    /* animation: openmodal 0.5s; */
    transform: translate(-50% -50%);
}
.link_open_device{
    width: 100%;
    background-color: #0022ff;
    text-decoration: none;
    color: #fff;
    padding: 10px 150px;
    border-radius: 10px;
}

.modal-txt{
    font-size: 20px;
    margin: 10px;
}
.close{
    display: flex;
    justify-content: end;
    font-size: 30px;
    color: #ff0000;
}
.line{
    width: 100%;
}
.link-icon{
    font-size: 80px;
    color: #0022ff;
    margin: 0;
    height: 90px;
}
.link_mobile{
    display: none;
}
.device-modal{
    padding: 10px;
}

@media screen and (max-width: 550px){
    .close{
        display: none;
    }
    .modal {
        max-width: 250px;
        padding: 0;
    }
    .link_open_device{
        display: none;
    }
    .link_mobile{
        display: block;
        text-decoration: none;
        color: #fff;
        border: 1px solid#fff;
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-bottom-left-radius: 20px;
        background-color: inherit;
        font-size: 15px;
        width: 100%;
        padding: 5px;
    }
    .link_mobile:hover{
        background-color: #fff;
        color: #000;
        transition: 0.5s;
    }
    .link_mobile:hover .modal{
        background-color: #fff;
        color: #000;
        transition: 0.5s;
    }
    .link_mobile_open{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 20px;
        border-left: 1px solid #fff;
    }
    .modal-txt{
        font-size: 14px;
    }
    .mobile-modal{
        display: flex;
    }
}

@keyframes openmodal {
    0%{
        transform: translateY(-300px);
    }
    70%{
        transform: translateY(0px);
    }
    80%{
        transform: translateY(-50px);
    }
    85%{
        transform: translateY(0px);
    }
    90%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}