
@import url(https://fonts.googleapis.com/css2?family=Biryani:wght@100;200;300;400;500;600;800;900&display=swap);

.portfolio {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-top: 150px;
}
.site{
    width: 100%;
    height: 500px;
}
.site-img {
    width: 100%;
    max-width: 900px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 5px 5px 25px 2px rgb(69, 68, 68);
    transition: 0.1s;
}
.mb-img{
    display: none;
}
.site-img:active{
    max-width: 850px;
    height: 420px;
}
.prt-title{
    margin: 0;
    font-family: 'Biryani', sans-serif;
    font-size: 60px;
    padding: 0 40px;
}
.prt-text{
    margin: 0;
    font-family: 'Biryani', sans-serif;
    font-size: 30px;
    padding: 0 40px;
}


@media screen and (max-width: 550px) {
    .portfolio{
        margin-bottom: 100px;
        margin-top: 100px;
    }
    .site{
        height: 400px;
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: center;
    }
    .site-img{
        display: none;
    }
    .mb-img{
        display: block;
        width: 100%;
        max-width: 250px;
        height: 340px;
        border-radius: 20px;
        box-shadow: 5px 5px 25px 2px rgb(69, 68, 68);
        transition: 0.1s;
        margin-right: auto;
        margin-left: auto;
    }
    .mb-img:active{
        max-width: 230px;
        height: 320px;
    }
    .prt-title{
        font-size: 40px;
    }
    .prt-text{
        font-size: 20px;
    }
}

@media screen and (max-width: 450px){
    .site{
        height: 350px;
    }
    .mb-img{
        border-radius: 10px;
        width: 100%;
        max-width: 200px;
        height: 290px;
    }
    .mb-img:active{
        max-width: 180px;
        height: 270px;
    }
}