.footer {
    display: none;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    background-color: #252424;
    color: #fff;
    padding: 15px;
    transition: 2s;
    box-shadow: 5px 5px 15px 1px rgb(0, 0, 0);
    position: fixed;
    /* left: 13%; */
    width: 100%;
    max-width: 1250px;
    bottom: 5px;
    left: 5px;
    transform: translate(-3%, 20%);
}
.foot-pages {
    display: flex;
    gap: 15px;
}
.foot-pages-item {

}
.contacts {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0;
}
.contact-item a{
    color: #3393f9;
}
.contact-item:first-child a{
    font-size: 30px;
    color: red;
}
.contact-item:last-child a{
    color: white;
}
.foot_bar_txt{
    font-size: 15px;
}


@media screen and (max-width: 550px) {
    .footer{
        display: flex;
    }
    .device{
        display: none;
    }
    .mobile{
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }
    .mobile-pages{
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        gap: 70px;
    }
    .mobile-page-items{
        width: 100%;
        max-width: 50px;
        height: 50px;
    }
    .mobile-page-icons{
        font-size: 30px;
        transition: 0.01s;
    }
    .mobile-page-icons:active{
        font-size: 20px;
    }
}