@import url(https://fonts.googleapis.com/css2?family=Biryani:wght@100;200;300;400;500;600;800;900&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;800;900&display=swap);



ul, ol{
    list-style: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    background-color: #252424;
    color: #fff;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 40px;
    position: fixed;
    /* left: 13%; */
    width: 100%;
    max-width: 1250px;
    top: 20px;
    /* transform: translate(-50 , -50); */
    font-family: 'Biryani', sans-serif;
    box-shadow: 5px 5px 15px 1px rgb(0, 0, 0);
    z-index: 100;
}
.logo_name {
    color: #1da6eb;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 800;
    font-style: italic;
}
.pages{
    display: flex;
    gap: 20px;
    margin: 0;
    position: fixed;
    left: 30%;
    right: -100%;
    height: 100vh;
    gap: 0;
    padding: 30px 20px;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    box-shadow: 5px 5px 15px 1px rgb(0, 0, 0);
    z-index: 100;
    transition: 0.5s;
}
.pages-list-device{
    display: flex;
    gap: 20px;
    margin: 0;
}
.pages-list-device li:visited{
    background-color: red;
}
.pages-list{
    padding: 0;
}
.pages_item {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    margin: 0;
    position: relative;
}
.bg-light{
    background-color: #ffffff;
    color: #000;
}
.dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    gap: 5px;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: #000;
    box-shadow: 5px 5px 15px 1px rgb(0, 0, 0);
}

.language-section{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    width: 100%;
}
.dropdown-lang-sec{
    position: absolute;
    left: 120px;
    top: 250px;
    display: flex;
    padding: 10px;
    gap: 5px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 1px rgb(0, 0, 0);
}
.pages_item_lang{
    margin: 0;
    padding: 5px;
    position: relative;
}

.burger{
    display: none;
}
.menu{
    display: none;
}
.close-menu{
    display: none;
}

@media screen and (max-width: 550px) {
    .header{
        left: 0;
        top: 0;
        border-radius: 0;
        padding: 0;
        padding-top: 5px;
    }
    .logo_name{
        font-size: 20px;
        padding-left: 30px;
    }
    .pages-list-device{
        display: none;
    }
    .menu{
        display: block;
        position: relative;
    }
    .burger{
        display: block;
        padding-right: 30px;
        margin: 0;
    }
    .burger:active .pages{
        transform: translateX(-25px) rotate(45deg);
    }
    .close-menu{
        color: #000;
        display: flex;
        position: fixed;
        top: 10px;
        right: 30px;
        animation: animate 0.5s;
    }
    .close-menu:active{
        animation: animate 0.1s;
    }
    .pages_item{
        color: #000;
        border-bottom: 1px solid #000;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
}
 
@media screen and (max-width: 450px){
    .pages_item{
        font-size: 18px;
    }
    .pages_item_lang{
        font-size: 18px;
    }

}
/* @keyframes animate {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
} */

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}