#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  flex-grow: 1;
  position: relative;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #7e7c7caa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html {
  height:100%;
}

body {
  margin:0;
  background-color: var(--silver);
  transition: 1s;
  color: var(--light-black);
}
body.dark {
  background-color: var(--light-black);
  color: var(--dark-blue);
}
.content {
  background-color:rgba(255, 0, 0, 0.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.mode{
  position: absolute;
  bottom: -40px;
  right: 50px;
  color: #eeff00;
  border-radius: 70%;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.mode:active{
  animation: rotateMode 0.5s;
}

@keyframes rotateMode {
  0%{
      transform: rotateY(0deg);
  }
  100%{
      transform: rotateY(180deg);
  }
}
