:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
    --dark-blue: #359bfa;
    --silver: #b8b8b8;
    --gray: #29292a66;
    --black: #000000;
    --text-light-blue: #57a4e7;
    --text-black: #000000;
    --light-black: rgb(49, 48, 48);
    --white: #ffffff;
    --light-shadow: 5px 5px 15px 1px rgb(0, 0, 0);
    --dark-shadow: 2px 2px 15px 1px rgb(255, 255, 255);
    /* fonts */
    --main-font: "Open Sans";
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}